<!DOCTYPE html>
<html>
    <head>
        <title>Randal Staewen, Game Developer</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="../javascript/jquery-3.2.0.min.js"></script>
    <script src="../javascript/jquery.easing.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

        <link rel="shortcut icon" href="../img/favicon_.png" type="image/x-icon">
        <link rel="stylesheet" href="../css/style.css" />
    </head>

    {{{body}}}

{{footer}}
<div class="footer">
    <span id="nedralovesme">Made with <img src="/img/heartxxx.png"/> by <a href="http://nedraloves.me" target="_blank">@nedralovesme</a></span>
</div>
</html>
