<!-- <body> -->
<nav class="navbar navbar-default navbar-fixed-top static-port" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="page-scroll"><a href="/">Home</a></li>
        <li class="page-scroll"><a href="/#about">About</a></li>
        <li class="active page-scroll"><a href="#">Portfolio</a></li>
        <li><a href="https://resume.creddle.io/resume/9dkcck7ih11" target="_blank">Resume</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="page-scroll">
          <a href="/#contact" id="contact-link"><b><i class="fa fa-envelope" aria-hidden="true"></i></b></a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div id="portfolio">
    <div id="port-header" class="page-header text-center">
        <div class="outer">
          <div class="bg">
            <div class="inner">
              <h1>Portfolio</h1>
            </div>
          </div>
        </div>
    <img src="/img/line.png" />
    </div>

    <section class="container">
        <section id="unnatural">
            <a href="http://steamcommunity.com/sharedfiles/filedetails/?id=239513870"><h2>Unnatural Selection</h2></a>
            <img class="col-md-6" src="/img/unnaturalselection.png" width="350" />
            <br />
            <p class="col-md-6">
                Chomp your way to the bottom of the ocean in this eat-em-up adventure. Don't let the untasty robots stop you. Evolve and crunch them up, along with anything else in your path! The world is your oyster, so eat it already!

            <a class="col-md-6" href="http://www.uh.edu/news-events/stories/2014/May/052714ImagineCup.php" target="_blank"><h4>Winner of the 2014 United States Microsoft Imagine Cup</h4></a>
            <a class="col-md-6" href="http://steamcommunity.com/sharedfiles/filedetails/?id=239513870" target="_blank"><h4>Greenlit by Steam Community</h4></a>
            <img class="decorative" src="/img/line.png" /></p>
        </section>
        <section id="insomnia">
            <a href="https://play.google.com/store/apps/details?id=com.Solipsoid.Insomnia&hl=en" target="_blank"><h2>Insomnia</h2></a>
            <img class="col-md-6" src="/img/insomnia.png" width="350" />
            <br />
            <p class="col-md-6">
                Have you ever tried counting sheep during a night of insomnia, only to be frustrated when those sheep keep getting murdered before making it over the fence? Well, now even sound sleepers can have that experience! Technology is great!

                One truth is undeniable: touching sheep is as easy as playing this game. Become the world's greatest shepherd by molding your finger into the perfect sheep toucher.
            </p>
            <br />
            <a href='https://play.google.com/store/apps/details?id=com.Solipsoid.Insomnia&hl=en&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1' target="_blank"><img alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png' width="200"/></a>
        </div>
        </section>
    </section>
</div>
<!-- </body> -->
<script type="text/javascript">
</script>
